<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name = "hibernate.connection.driver_class">
            org.sqlite.JDBC
        </property>
        <property name="connection.url">
            jdbc:sqlite:monitorizare_angajati.sqlite
        </property>

        <!-- Dialect -->
        <property name = "hibernate.dialect">
            org.hibernate.dialect.SQLiteDialect
        </property>
s
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- List of XML mapping files -->
        <mapping resource="hbm/User.hbm.xml" />

    </session-factory>
</hibernate-configuration>